$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #e3e3e3;
$color__background-button: transparent;
$color__background-pre: #eee;
$color__background-ins: transparent;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border: #e3e3e3;
$color__border-button: #e3e3e3;
$color__border-button-hover: #e3e3e3;
$color__border-button-focus: #e3e3e3;
$color__border-input: #e3e3e3;
$color__border-abbr: #666;
