/* Page header */
.page-header {
	border-bottom: 0;
	margin: 0;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 70px 0 40px;
	margin-bottom: 50px;
	
	h1 {
		font-size: 28px;
	}

	&.has-background {
		padding: 150px 0 100px;
	}

	// Single product
	.single-product & {
		padding: 40px 0 30px;
		background-color: #f3f3f3;
		text-align: center;
		margin-bottom: 80px;

		@media (max-width: 991px) {
			margin-bottom: 30px;
		}

		.woocommerce-breadcrumb,
		.breadcrumbs,
		.products-adjacent-nav {
			float: none;
		}
	}

	.single-product.product-layout-4 & {
		display: none;
	}

	&.hero-slider {
		padding: 0;
		margin: 0;
	}

	// Hero banner
	&.hero-banner {
		height: 820px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		padding: 0;
		margin-bottom: 0;
	}

	// Map banner
	&.hero-map {
		padding: 0;

		.hero-map-container {
			height: 465px;
			width: 100%;
			position: relative;
		}
	}

	@media (min-width: 768px) {
		h1 {
			font-size: 36px;
		}

		.single-product & {
			text-align: left;

			.woocommerce-breadcrumb,
			.breadcrumbs {
				float: left;
			}

			.products-adjacent-nav {
				float: right;
			}
		}

	}

	@media (min-width: 992px) {

		// Single product
		.single-product & {
			text-align: left;

			.woocommerce-breadcrumb,
			.breadcrumbs {
				float: left;
			}

			.products-adjacent-nav {
				float: right;
			}
		}

		&.has-background {
			padding: 185px 0;
		}
	}

	@media (min-width: 1200px) {

		// Single product
		.single-product & {
			text-align: left;

			.woocommerce-breadcrumb,
			.breadcrumbs {
				float: left;
			}

			.products-adjacent-nav {
				float: right;
			}
		}

		&.has-background {
			padding: 225px 0;
		}
	}
}

/* Post header */
.post-header {
	height: 450px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Blog taxs list */
.blog-taxs-list {
	padding-bottom: 50px;

	ul {
		@extend .plain-list;
		text-align: center;

		li {
			display: inline-block;
			padding: 0 18px 10px;

			&:first-child {
				padding-left: 0;
			}

			a {
				font-size: 18px;
				border-bottom: 1px solid transparent;

				&:hover {
					border-color: #000;
				}
			}

			&.active {
				a {
					border-color: #000;
				}
			}
		}
	}

	.has-sidebar & {
		ul {
			text-align: left;
		}
	}
}

/* Sticky post */
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 55px;

	&:hover .entry-thumbnail img {
		opacity: .8;
	}

	.page & {
		margin-bottom: 0;
	}
}

/* Blog layout grid */
.blog-layout-grid {
	margin-left: -15px;
	margin-right: -15px;

	.hentry {
		float: left;
		width: 33.3333%;
		padding-left: 15px;
		padding-right: 15px;
		@include transition(all .3s ease);
	}

	.hentry:nth-of-type(3n+1) {
		clear: left;
	}

	.has-sidebar & .hentry {
		width: 50%;
		
		&:first-of-type {
			width: 100%;
			text-align: center;
		}

	}

	@media (max-width: 767px) {
		.hentry {
			width: 50%;
		}
	}

	@media (max-width: 479px) {
		.hentry {
			width: 100%;
		}
	}


}

/* Single */
.single {
	.meta-category {
		text-transform: uppercase;
		font-weight: 500;
		font-size: 14px;
	}

	.entry-title {
		font-size: 50px;
	}

	.entry-header {
		text-align: center;
	}

	&.has-sidebar .entry-header {
		text-align: left;
	}
}

.entry-meta {
	color: #999;

	.entry-date {
		color: #999;
	}

	a {
		color: #000;
		@include transition(all .3s ease);
		text-decoration: none;

		&:hover {
			color: #999;
		}
	}
}

.entry-thumbnail {
	margin-bottom: 30px;

	img {
		width: 100%;
		height: auto;
		@include transition(all .3s ease);
		backface-visibility: hidden;
	}

}

.entry-title {
	font-size: 24px;
	margin: 20px 0 30px;

	a {
		@include transition(all .3s ease);
		text-decoration: none;

		&:hover {
			color: #999;
		}
	}
}

.entry-content {

	color: #666666;

	.custom-heading {
		font-size: 24px;
		color: #000;
	}

	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		font-weight: 500;
		color: #000;
		margin: 2em 0;
	}

	strong {
		color: #000;
	}
}

.entry-footer {
	font-size: 14px;
	color: #000;
	margin-top: 40px;

	&-links {
		text-align: center;

		span {
			display: block;
		}

		a {
			color: #999;

			&:hover {
				color: #cc0000;
			}
		}

		.share-links {
			margin-top: 20px;

			a {
				display: inline-block;
				vertical-align: middle;
				font-size: 20px;
				padding: 5px 10px;
			}
		}
	}

	.has-sidebar & {
		text-align: left;
	}
}

/* Related entry section */
.entry-footer-related {
	margin-top: 80px;
	padding-top: 80px;
	border-top: 1px solid $color__border;

	.entry-related-title {
		font-size: 30px;
		margin-top: 0;
		margin-bottom: 55px;
	}
}

.related-entry {
	margin: 0 0 55px;

	&:hover &-thumbnail img {
		opacity: .8;
	}

	&-thumbnail {
		margin-bottom: 30px;

		img {
			width: 100%;
			height: auto;
			@include transition(all .3s ease);
			backface-visibility: hidden;
		}

	}

	&-title {
		font-size: 24px;
		margin: 20px 0 28px;

		a {
			@include transition(all .3s ease);
			text-decoration: none;
			color: #000;

			&:hover {
				color: #999;
			}
		}
	}

	&-meta {
		color: #999;

		.meta-category {
			text-transform: capitalize;
			font-weight: normal;
		}

		a {
			color: #000;
			@include transition(all .3s ease);
			text-decoration: none;

			&:hover {
				color: #999;
			}
		}
	}
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 3em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Page builder */
.page-template-template_page-builder {
	.site-content {
		margin-top: 0;
	}
}
/* Page about us */
.page-template-template_page-builder,
.page-template-template-about-page {
	.site-content {
		padding-bottom: 0;
	}
}

/* Page Coming Soon */
.page-template-template-coming-soon-page {
	background-image: url("images/soon.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: scroll;

	.site-content {
		padding-bottom: 0;
	}
}

.coming-soon-wrapper {
	position: relative;
	height: 100%;
	width: 100%;

	@media (max-width: 767px) {
		height: auto;
		width: auto;
	}
}

.coming-soon-content {
	max-width: 630px;
	width: 100%;
	background-color: #fff;
	padding: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
	text-align: center;

	@media (max-width: 767px) {
		padding: 20px;
		position: relative;
		left: auto;
		top: auto;
		@include transform(translate(0,0));
		margin: 10vh auto;
	}
}

.coming-soon {
	&__logo {
		margin-bottom: 80px;
	}

	&__title {
		font-size: 48px;
		font-weight: 300;
		margin-top: 0;
		margin-bottom: 50px;
	}

	&__countdown {
		margin-bottom: 60px;

		.countdown-text {
			font-weight: 500;
			text-transform: uppercase;
			margin-bottom: 35px;
			color: #999;
		}
	}

	&__social {
		label {
			text-transform: uppercase;
			color: #999;
			margin-bottom: 25px;
		}
	}
}

/* Page faq */
.faq-group {
	.faq-title {
		font-size: 18px;
		text-transform: uppercase;
		font-weight: 500;
		margin-bottom: 30px;
		margin-top: 0;
	}

	.faq-item {
		margin-bottom: 30px;

		&-title {
			font-size: 16px;
			font-weight: normal;
			margin-top: 0;
		}

		&-desc {
			color: #999;
			font-size: 14px;
		}
	}
}

/* Page contact */
.page-template-template-contact-page {
	.site-content {
		padding-bottom: 0;
	}
}

.contact-box-wrapper {
	background-color: #f6f6f6;
	margin-top: 150px;
	padding: 100px 0;
}

/* 404 */

.error-404 {
	text-align: center;

	.notice-404 {
		color: #c8cacc;
		font-size: 92px;
		line-height: 1;
	}
	.search-form {
		margin-bottom: 70px;
	}
}