h1, h2, h3, h4, h5, h6 {
	clear: both;
	color: #333333;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: #333;
}


.site-title {
	font-size: 36px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 400;
}

.title-heading {
	margin-top: 0;
	font-size: 30px;
	margin-bottom: 30px;
}

