ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

.plain-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.social-media-list {
	@extend .plain-list;
	list-style: none;

	&.show-text {
		li i {
			display: none;
		}
	}

	&.show-icon {
		li .text {
			display: none;
		}
	}

	li {
		display: inline-block;
		margin-right: 15px;

		&:last-child {
			margin-right: 0;
		}

		a {
			@include transition(all .3s ease);
			font-size: 20px;

			&:hover {
				color: #999;
			}
		}
	}
}

.social-media-color {
	@extend .plain-list;
	list-style: none;

	li {
		display: inline-block;
		margin: 5px 10px;

		a {
			display: block;
			width: 30px;
			height: 30px;
			color: #fff;
			background-color: #333;
			line-height: 30px;
			font-size: 16px;
			text-align: center;
			@include border-radius(50%);

			i:before {
				line-height: 30px;
			}
		}

		&.social-twitter a {
			background-color: #00ccff;
		}

		&.social-facebook a {
			background-color: #336699;
		}

		&.social-pinterest a {
			background-color: #cc0000;
		}

		&.social-instagram a {
			background-color: #996633;
		}
	}
}
